<ion-view>
  <ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
      <!-- <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <ion-nav-buttons side="left">
          <ion-nav-back-button>
          </ion-nav-back-button>
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
      </ion-nav-bar> -->
      <ion-nav-view name="simple-container"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
      <header class="bar bar-header bar-stable">
        <h1 class="title">导航</h1>
      </header>
      <ion-content class="has-header">
        <ion-list>
          <ion-item nav-clear menu-close>
            <div class="text-center">
              <a href="#/simple/mine" menu-close nav-clear>
                <img ng-src="img/defaultAvatar.png" class="round-avatar">
              </a>
                <p>欢迎</p>
            </div>
          </ion-item>
          <ion-item nav-clear menu-close class="item-icon-left" href="#/simple/homepage" >
              <i class="icon ion-ios7-home-outline"></i>
              首页
          </ion-item>
          <ion-item nav-clear menu-close class="item-icon-left" href="#/simple/navArticle" >
              <i class="icon ion-ios7-information-outline"></i>
              资讯
          </ion-item>
          <ion-item nav-clear menu-close class="item-icon-left" href="#/simple/navActivity" >
              <i class="icon ion-ios7-star-outline"></i>
              活动
          </ion-item>
          <ion-item nav-clear menu-close class="item-icon-left" href="#/simple/navService" >
              <i class="icon ion-ios7-person-outline"></i>
              服务
          </ion-item>
          <ion-item nav-clear menu-close class="item-icon-left" href="#/simple/favorites" >
              <i class="icon ion-ios7-bookmarks-outline"></i>
              收藏
          </ion-item>
          <ion-item nav-clear menu-close class="item-icon-left" href="#/simple/settings" >
              <i class="icon ion-ios7-gear-outline"></i>
              设置
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</ion-view>
