<ion-modal-view>

  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="actions.closeRegister()">取消</button>
    </div>
    <h1 class="title text-lg">请注册</h1>
  </ion-header-bar>

  <ion-content>
    <form class="form-horizontal w5c-form" w5c-form-validate="" w5c-submit="actions.doRegister()" role="form" novalidate name="form_user_signup">
      <ion-list class="no-padding-td">
        <ion-item class="no-padding-td">
          <div class="item-input">
            <span class="input-label text-lg">用户名:</span>
            <!-- <input type="text" autofocus="" placeholder="请输入用户名" w5c-unique-check="{url:'/check?username={{registerData.username}}'}" ng-model="registerData.username" required="" name="username" ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{1,19}$/"> -->
            <input type="text" autofocus="" placeholder="请输入用户名" ng-model="registerData.username" required="" name="username" ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{1,19}$/">
            <button-clear-input input="registerData.username"></button-clear-input>
          </div>
        </ion-item>
        <ion-item  class="no-padding-td">
          <div class="item-input">
            <span class="input-label text-lg">密<span class="take-position">占</span>码:</span>
            <input type="password" placeholder="8-16位" ng-model="registerData.password" required="" name="password" ng-minlength="8" ng-maxlength="16">
            <button-clear-input input="registerData.password"></button-clear-input>
          </div>
        </ion-item>
        <ion-item  class="no-padding-td">
          <div class="item-input">
            <span class="input-label text-lg">重复密码:</span>
            <input type="password" placeholder="8-16位" ng-model="registerData.repeatpassword" w5c-repeat="password" name="repeat_password">
            <button-clear-input input="registerData.repeatpassword"></button-clear-input>
          </div>
        </ion-item>
        <ion-item  class="no-padding-td">
          <div class="item-input">
            <span class="input-label text-lg">姓<span class="take-position">占</span>名:</span>
            <input type="text" placeholder="真实姓名" ng-model="registerData.name" required="" name="chinese_name" ng-pattern="/^[\u4e00-\u9fa5]{2,10}$/">
            <button-clear-input input="registerData.name"></button-clear-input>
          </div>
        </ion-item>
        <ion-toggle ng-model="registerData.gender" toggle-class="toggle-positive" class="text-right text-lg">性别: (男/女)</ion-toggle>
        <ion-item  class="no-padding-td">
          <div class="item-input">
            <span class="input-label text-lg">手机号码:</span>
            <input type="text" placeholder="13888888888" ng-model="registerData.mobile" required="" name="mobile" ng-minlength="9" ng-maxlength="16" ng-pattern="/^[0-9+]{1}[0-9-]{8,15}$/">
            <button-clear-input input="registerData.mobile"></button-clear-input>
          </div>
        </ion-item>
        <!-- <div class="item item-toggle text-right">
          <span>记住密码</span>
          <label class="toggle toggle-positive">
            <input type="checkbox">        
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div> -->
        <ion-item  class="no-padding-td">
          <button class="button button-positive text-hg" type="submit">注册</button>
          <button class="button button-stable text-hg" type="reset">重置</button>
          <button class="button button-energized text-hg" ng-click="actions.prelogin()" type="button">返回</button>
        </ion-item>
      </ion-list>
    </form>
  </ion-content>

</ion-modal-view>