<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button button-clear">
      <i class="icon ion-ios7-arrow-back"></i>
    </ion-nav-back-button>
    <ion-nav-title>
      意见与反馈
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <textarea name="advice" ng-model="advice" placeholder="请提出您的宝贵意见"></textarea>
      </label>
      <label class="item item-input">
        <input type="text" ng-model="contact" placeholder="您的联系方式">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive">
        提交
      </button>
    </div>
  </ion-content>

</ion-view>
