<ion-view view-title=''>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <!-- <ion-nav-title>
    </ion-nav-title> -->
  </ion-nav-bar>

  <ion-content>
    <div>
      <p>时间：{{newsDate}}<br>来源：{{newsSource}}</p>  
      <h3 class="text-center">{{newsTitle}}</h3>
      <img ng-if="imageUrl != ''" ng-src="{{imageUrl && 'http://17f.go5le.net/admin_manage/upload_tp1/' + imageUrl || ''}}" class="img-responsive center-block" img-cache>
      <!-- <div ng-if="imageUrl != ''">==={{imageUrl}}===</div> -->
      <div ng-bind-html="newsContent" class="responsive-content"></div>
    </div> 
    <ion-refresher pulling-text="释放刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-divider">
        用户评论
      </ion-item>
      <ion-item class="item-input-inset">
        <label class="item-input-wrapper">
          <textarea type="text" placeholder="已阅" ng-model="submit.Comment"></textarea>
        </label>
        <button class="button button-small" ng-click="submit()">
          确认阅读
        </button>
      </ion-item>
      <ion-item class="item-divider">
        活动评价
      </ion-item>
      <ion-item ng-repeat="item in comments">
        <p>{{item[5]}}<span class="p-right">{{item[3]}}</span></p>
        <p>{{item[7]}}</p>
        <p class="text-right">赞成：{{item[8]}}</p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" on-infinite="loadMoreData()" distance="0%">
    </ion-infinite-scroll>
  </ion-content>

</ion-view>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>