<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button button-clear">
      <i class="icon ion-ios7-arrow-back"></i>
    </ion-nav-back-button>
    <h1 class="title">
      认识我们
    </h1>
  </ion-nav-bar>

  <ion-content>
    <div class="text-center">
      <img ng-src="img/badge.png">
      <p>智慧团青</p>
    </div>
    <ion-list>
      <a class="item" href="">
        网站：
        <span class="item-note">
          http://17f.go5le.net/99_tj/main_dj.asp
          <i class="icon ion-ios7-arrow-right"></i>
        </span>
      </a>
      <a class="item" href="">
        手机版：
        <span class="item-note">
          http://17f.go5le.net/99_tj/main_dj.asp
          <i class="icon ion-ios7-arrow-right"></i>
        </span>
      </a>
      <a class="item" href="">
        微信：
        <span class="item-note">
          浙直团青
          <i class="icon ion-ios7-arrow-right"></i>
        </span>
      </a>
    </ion-list>
  </ion-content>
  
</ion-view>
