<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      通讯录
    </ion-nav-title>
  </ion-nav-bar>
  
  <ion-content>
    <div class="row no-padding">
      <div class="col">
        <input type="text" placeholder="单位" ng-model="work">
      </div>
      <div class="col">
        <input type="text" placeholder="姓名" ng-model="name">
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive">
        查找
      </button>
    </div>
    <div class="list card" ng-repeat="item in items">
      <ion-item class="item-avatar item-text-wrap">
        <img ng-src="{{item.imageUrl}}" img-cache>
        <h2><b>{{item.name}}</b></h2>
        <p>单位：{{item.work}}</p>
        <p>地址：{{item.address}}</p>
      </ion-item>
      <ion-item class="tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="">
          <i class="icon ion-ios7-keypad"></i>
          电话：{{item.phone}}
        </a>
        <a class="tab-item" href="">
          <i class="icon ion-ios7-telephone"></i>
          手机：{{item.cellphone}}
        </a>
      </ion-item>
    </div>
  </ion-content>

</ion-view>
