<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      聊天室
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content>
    <div id="chat" class="chat">
      <!-- 显示聊天信息 -->
      {{content}}
    </div>
    <form id="frmSend" name="frmSend">
<!--     <form id="frmSend" name="frmSend" on-submit="sendMessage()"> -->
      <input name="username" type="text" id="username" value="aaa">
      <input name="mess" type="text" id="mess">
      <!-- <input type="submit" value="发送" id="submitsend" name="submitsend"> -->
      <button class="button button-block button-positive" ng-click="sendMessage()">
        发送
      </button>
    </form>
  </ion-content>

</ion-view>
