<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      我的个人资料
    </ion-nav-title>
  </ion-nav-bar>
  
  <ion-content>
    <div class="list list-inset">
      <ion-item class="item-divider">
        基本信息
      </ion-item>
      <div class="item item-input">
        <span class="input-label">用户ID</span>
        <input type="text" readonly="readonly" ng-model="item.userID">
      </div>
      <div class="item item-input">
        <span class="input-label">用户名</span>
        <input type="text" ng-model="item.userName">
        <button-clear-input input="item.userName"></button-clear-input>
      </div>
      <div class="item item-input">
        <span class="input-label">姓名</span>
        <input type="text" ng-model="item.name">
        <button-clear-input input="item.name"></button-clear-input>
      </div>
      <div class="item item-input item-select">
        <div class="input-label">
          性别
        </div>
        <select>
          <option selected>男</option>
          <option>女</option>
        </select>
      </div>
      <!-- <div class="item item-input">
        <input type="file" capture="camera" accept="image/*" id="takePictureField" name="filetest">
      </div>
      <img id="yourimage"> -->
      <div class="item item-input">
        <span class="input-label">出生年月</span>
        <input type="date" ng-model="item.birth">
      </div>
      <div class="item item-input">
        <span class="input-label">身份证</span>
        <input type="tel" ng-model="item.identityCard">
        <button-clear-input input="item.identityCard"></button-clear-input>
      </div>
      <ion-item class="item-divider">
        密码
      </ion-item>
      <div class="item item-input">
        <span class="input-label">密码</span>
        <input type="password" ng-model="item.password">
        <button-clear-input input="item.password"></button-clear-input>
      </div>
      <div class="item item-input">
        <span class="input-label">确认密码</span>
        <input type="password" ng-model="item.repeatPassword">
        <button-clear-input input="item.repeatPassword"></button-clear-input>
      </div>
      <ion-item class="item-divider">
        联系方式
      </ion-item>
      <div class="item item-input">
        <span class="input-label">手机</span>
        <input type="tel" ng-model="item.phone">
        <button-clear-input input="item.phone"></button-clear-input>
      </div>
      <div class="item item-input">
        <span class="input-label">QQ</span>
        <input type="tel" ng-model="item.QQ">
        <button-clear-input input="item.QQ"></button-clear-input>
      </div>
      <div class="item item-input">
        <span class="input-label">邮箱</span>
        <input type="email" ng-model="item.email">
        <button-clear-input input="item.email"></button-clear-input>
      </div>
      <ion-item class="item-divider">
        详细信息
      </ion-item>
      <div class="item item-input">
        <span class="input-label">单位</span>
        <input type="text" ng-model="item.work">
        <button-clear-input input="item.work"></button-clear-input>
      </div>
      <div class="item item-input item-select">
        <div class="input-label">
          职务
        </div>
        <select>
          <option selected>书记</option>
          <option>副书记</option>
        </select>
      </div>
      <div class="item item-input">
        <span class="input-label">地址</span>
        <input type="text" ng-model="item.address">
        <button-clear-input input="item.address"></button-clear-input>
      </div>
      <div class="item item-input">
        <span class="input-label">爱好</span>
        <input type="text" ng-model="item.hobby">
        <button-clear-input input="item.hobby"></button-clear-input>
      </div>
      <div class="item item-input">
        <span class="input-label">简介</span>
        <input type="text" ng-model="item.brief">
        <button-clear-input input="item.brief"></button-clear-input>
      </div>
      <ion-item class="item-divider">
        其他
      </ion-item>
      <div class="item item-input item-select">
        <div class="input-label">
          定制空间
        </div>
        <select>
          <option selected>开启</option>
          <option>不开启</option>
        </select>
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive">
        提交
      </button>
    </div>
  </ion-content>

</ion-view>

<script type="text/javascript">
  var desiredWidth;
  $(document).ready(function() {
    console.log('onReady');
    $("#takePictureField").on("change",gotPic);
    $("#yourimage").load(getSwatches);
    desiredWidth = window.innerWidth;
    
    if(!("url" in window) && ("webkitURL" in window)) {
        window.URL = window.webkitURL;   
    }
    
  });

  function getSwatches(){
    var colorArr = createPalette($("#yourimage"), 5);
    for (var i = 0; i < Math.min(5, colorArr.length); i++) {
      $("#swatch"+i).css("background-color","rgb("+colorArr[i][0]+","+colorArr[i][1]+","+colorArr[i][2]+")");
      console.log($("#swatch"+i).css("background-color"));
    }
  } 

  function gotPic(event) {
        if(event.target.files.length == 1 && 
           event.target.files[0].type.indexOf("image/") == 0) {
            $("#yourimage").attr("src",URL.createObjectURL(event.target.files[0]));
        }
  }     
</script>