<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      活动统计
    </ion-nav-title>
  </ion-nav-bar>
  
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">活动内容</span>
        <input type="text" ng-model="activityContent">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          分类
        </div>
        <select ng-model="typeName" ng-options="type.name for type in types">
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          部门
        </div>
        <select ng-model="deptName" ng-options="dept.name for dept in depts">
        </select>
      </label>
      <button class="button button-block button-positive" ng-click="clearContent()">
        搜索
      </button>
    </div>
    <ion-list>
      <ion-item class="item-divider">
        活动列表
      </ion-item>
      <ion-item class="item-text-wrap" ng-repeat="item in items" href="{{item.url}}">
        <h2><b>{{item.activityTitle}}</b></h2>
        <h3>分类：{{item.typeName}}<span class="p-right">意向：{{item.number}}人</span></h3>
        <h3>发布：{{item.organizer}}<span class="p-right">浏览：{{item.count}}次</span></h3>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>