<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      个人留言
    </ion-nav-title>
  </ion-nav-bar>

  <ion-tabs class="tabs-striped tabs-top tabs-icon-left tabs-background-clear tabs-color-positive">
    <ion-tab title="我的留言" icon-on="ion-ios7-chatbubble" icon-off="ion-ios7-chatbubble-outline">
      <ion-header-bar>
      </ion-header-bar>
      <ion-content class="has-header has-tabs">
        <ion-list>
          <ion-item ng-repeat="item in items">
            <h2>To: {{item.name}}<span class="item-note">{{item.date}}</span></h2>
            <p>内容：{{item.message}}</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="我的回复" icon-on="ion-ios7-chatboxes" icon-off="ion-ios7-chatboxes-outline">
      <ion-header-bar>
      </ion-header-bar>
      <ion-content class="has-header has-tabs">
        <ion-list>
          <ion-item ng-repeat="item in items">
            <h2>To: {{item.name}}<span class="item-note">{{item.date}}</span></h2>
            <p>内容：{{item.message}}</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
  </ion-tabs>

</ion-view>