<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      信息发布
    </ion-nav-title>
  </ion-nav-bar>
  
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <div class="input-label">
          发布类型
        </div>
        <select ng-model="typeName" ng-options="type.name group by type.category for type in types">
        </select>
      </label>
      <ion-item class="item-divider">
        发布内容
      </ion-item>
      <label class="item item-input item-stacked-label">
        <span class="input-label">标题</span>
        <input type="text" ng-model="item.itemTitle">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">栏目说明</span>
        <input type="text" ng-model="item.state">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">链接网址</span>
        <input type="text" ng-model="item.itemLink">
      </label>
      <ion-item class="item-divider">
        联系方式
      </ion-item>
      <label class="item item-input">
        <span class="input-label">联系人</span>
        <input type="text" ng-model="item.contacts">
      </label>
      <label class="item item-input">
        <span class="input-label">联系电话</span>
        <input type="text" ng-model="item.phone">
      </label>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-positive">
          提交
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-positive" ng-click="clearContent()">
          重置
        </button>
      </div>
    </div>
  </ion-content>

</ion-view>
