<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      签到管理
    </ion-nav-title>
  </ion-nav-bar>
  
  <ion-content>
    <div class="list list-inset">
      <ion-item>
        姓名：{{userName}}
      </ion-item>
      <ion-item>
        ID：{{userID}}
      </ion-item>
    </div>
    <button class="button button-block button-positive">
        签到
    </button>
    
    <ion-list>
      <ion-item>
        当日签到人数:{{currentNum}}
      </ion-item>
      <ion-item>
        待检人数:{{toBeChecked}}
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>