<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button button-clear">
      <i class="icon ion-ios7-arrow-back"></i>
    </ion-nav-back-button>
    <h1 class="title">
        活动提醒
    </h1>
    <div class="buttons">
      <!-- <button class="button button-clear ion-navicon-round" ng-click="openPopover($event)">
      </button> -->
    </div>
  </ion-nav-bar>
  
  <ion-content> 
    <div class="card" ng-repeat="item in items">
      <ion-item class="item-divider item-text-wrap">
        <h2>{{item.activityTitle}}（{{item.date}}）</h2>
      </ion-item>
      <ion-item>
        <textarea ng-model="item.content">
        </textarea>
      </ion-item>
      <button class="button button-block button-positive">
        修改
      </button>
    </div>
  </ion-content>

  <!-- <ng-include src="'templates/common/footer.html'"></ng-include> -->

</ion-view>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>  