<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button button-clear">
      <i class="icon ion-ios7-arrow-back"></i>
    </ion-nav-back-button>
    <h1 class="title">
    </h1>
    <div class="buttons">
      <a class="button button-icon icon ion-ios7-search" href="#/simple/search">
      </a>
    </div>
  </ion-nav-bar>

  <ion-content>
    <button class="button button-block button-clear button-offline" ng-if="refreshable" ng-click="refreshAgain()">
      {{refreshableTitle}}
    </button>
    <ion-refresher pulling-text="释放刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item item-avatar" 
        collection-repeat="item in items" 
        collection-item-height="80" 
        collection-item-width="'100%'" 
        ng-style="{width: '100%', height: '80px'}" 
        ng-href="#/simple/article/{{item[0]}}">
      <!-- <ion-item class="item-avatar" ng-repeat="item in items" ng-href="#/simple/article/{{item[0]}}"> -->
        <img ng-src="{{item[2] && 'http://17f.go5le.net/admin_manage/upload_tp1/' + item[2] || 'http://17f.go5le.net/99_tj/img/m2.png'}}" class="img-responsive center-block" img-cache>
        <h2><b>{{item[1]}}</b></h2>
        <p>浏览{{item[6]}}次<span class="p-right">{{item[3]}}</span></p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" on-infinite="loadMoreData()" distance="10%">
    </ion-infinite-scroll>
  </ion-content>

  <ion-footer-bar class="bar-stable no-padding" ng-if="loadable">
    <button class="button button-block button-clear button-offline" ng-click="loadMore()">
      {{loadableTitle}}
    </button>
  </ion-footer-bar>
</ion-view>