<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 class="title">
      我的主页
    </h1>
    <ion-nav-buttons side="right">
      <a class="button button-clear ion-android-social-user" href="#/simple/personalInfo">
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="text-center">
      <img ng-src="img/defaultAvatar.png" class="round-avatar">
      <p ng-if="userID == ''">欢迎</p>
      <p ng-if="userID != ''">{{userName}}</p>
    </div>
    <ion-list scroll="true">
      <ion-item>
        <div class="row">
          <div class="col text-center">
            <a class="button round-button icon ion-android-note" style="background: #F3893C" href="#/simple/personMessage"></a>
            <!-- <a class="button round-button icon ion-chatboxes" style="background: #F3893C" href="#/simple/chatroom"></a> -->
            <p class="text-center-2"><b>我的留言</b></p>
          </div>

          <div class="col text-center">
            <a class="button round-button icon ion-ios7-paw" style="background: #FA6469"  href="">
            </a>
            <p class="text-center-2"><b>我的活动</b></p>
          </div>

          <div class="col text-center">
            <a class="button round-button icon ion-ios7-mic" style="background: #46CECE"  href="#/simple/publish">
            </a>
            <p class="text-center-2"><b>信息发布</b></p>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col text-center">
            <a class="button round-button icon ion-stats-bars" style="background: #93CE68"  href="#/simple/personManagement">
            </a>
            <p class="text-center-2"><b>活动统计</b></p>
          </div>

          <div class="col text-center">
            <a class="button round-button icon ion-navigate" style="background: #C761AA"  href="#/simple/personSignIn">
            </a>
            <p class="text-center-2"><b>签到管理</b></p>
          </div>

          <div class="col text-center">
            <a class="button round-button icon ion-alert" style="background: #DCBF82"  href="#/simple/personWarn">
            </a>
            <p class="text-center-2"><b>活动提醒</b></p>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col text-center">
            <a class="button round-button icon ion-chatboxes" style="background: #83893C" href="#/simple/chatroom"></a>
            <p class="text-center-2"><b>主题聊天</b></p>
          </div>
          
          <div class="col text-center">
            <a class="button round-button icon ion-android-contacts" style="background: #8C7F82"  href="#/simple/personAddressBook">
            </a>
            <p class="text-center-2"><b>通讯录</b></p>
          </div>

          <div class="col text-center">
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  
</ion-view>