<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 class="title">
      服务导航
    </h1>
    <ion-nav-buttons side="right">
      <a class="button button-icon icon ion-ios7-search" href="#/simple/search">
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="true">
    <ion-list>
      <ion-item>
        <div class="row no-padding">
          <div class="col text-center">
            <a class="button round-button icon ion-document-text" style="background: #F3893C" href="#/simple/serviceList/shyl001"></a>
            <p class="text-center-2"><b>生活娱乐</b></p>
          </div>
          <div class="col text-center">
            <a class="button round-button icon ion-ios7-compose" style="background: #FA6469"  href="#/simple/serviceList/zll001">
            </a>
            <p class="text-center-2"><b>众乐乐</b></p>
          </div>
          <div class="col text-center">
            <a class="button round-button icon ion-ios7-information" style="background: #46CECE"  href="#/simple/serviceList/qnly001">
            </a>
            <p class="text-center-2"><b>青年旅游</b></p>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row no-padding">
          <div class="col text-center">
            <a class="button round-button icon ion-chatbox-working" style="background: #93CE68"  href="#/simple/serviceList/ryp001">
            </a>
            <p class="text-center-2"><b>日用品</b></p>
          </div>
          <div class="col text-center">
            <a class="button round-button icon ion-social-buffer" style="background: #C761AA"  href="#/simple/serviceList/zjfw001">
            </a>
            <p class="text-center-2"><b>中介服务</b></p>
          </div>
          <div class="col text-center">
            <a class="button round-button icon ion-social-twitter" style="background: #DCBF82"  href="#/simple/serviceList/dztg001">
            </a>
            <p class="text-center-2"><b>大宗团购</b></p>
          </div>
        </div>
      </ion-item>    
    </ion-list>
  </ion-content>

</ion-view>