<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 class="title">
      设置
    </h1>
  </ion-nav-bar>

  <ion-content>
    <ion-list>
      <a class="item item-avatar" href="#/simple/personalInfo">
        <img src="img/defaultAvatar.png">
        <h2>{{userName}}</h2>
        <p>{{signature}}</p>
      </a>
    </ion-list>
    <ion-list>
      <div class="item" ng-click="clearCache()">
        清理缓存
        <span class="item-note">
          <i class="icon ion-ios7-arrow-right"></i>
        </span>
      </div>
    </ion-list>
    <ion-list>
      <a class="item" href="#/simple/feedback">
        意见与反馈
        <span class="item-note">
          <i class="icon ion-ios7-arrow-right"></i>
        </span>
      </a>
      <a class="item" href="#/simple/ours">
        认识我们
        <span class="item-note">
          <i class="icon ion-ios7-arrow-right"></i>
        </span>
      </a>
      <a class="item" href="#/initSplashes">
        欢迎页面
        <span class="item-note">
          <i class="icon ion-ios7-arrow-right"></i>
        </span>
      </a>
      <a class="item" href="#/simple/agreement">
        用户协议
        <span class="item-note">
          <i class="icon ion-ios7-arrow-right"></i>
        </span>
      </a>
    </ion-list>
    <div class="padding">
      <button class="button button-block button-assertive" ng-click='logout()'>
        退出登录
      </button>
    </div>
  </ion-content>

</ion-view>
