<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button button-clear">
      <i class="icon ion-ios7-arrow-back"></i>
    </ion-nav-back-button>
    <h1 class="title">
      问卷
    </h1>
  </ion-nav-bar>

  <ion-content scroll="true" overflow-scroll="true" class="iframe-wrapper">
    <iframe seamless name="questionnaire" ng-src="{{pUrl}}">
    </iframe>
  </ion-content> 
  
</ion-view>