<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button button-clear">
      <i class="icon ion-ios7-arrow-back"></i>
    </ion-nav-back-button>
    <h1 class="title">
      心理1解1
    </h1>
    <div class="buttons">
      <a class="button button-icon icon ion-ios7-search" href="#/simple/search">
      </a>
    </div>
  </ion-nav-bar>

  <ion-content>
    <ion-refresher pulling-text="释放刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <a class="item" ng-repeat="item in items" ng-href="#/simple/psychologyLink/{{item[0]}}">
        <h2><b>{{item[1]}}</b><span class="p-right">日期：{{item[2]}}</span></h2>
      </a>
    </ion-list>
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" on-infinite="loadMoreData()" distance="0%">
    </ion-infinite-scroll>
  </ion-content>
  
</ion-view>
