<ion-view view-title='活动导航'>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <!-- <ion-nav-title>
      活动导航
    </ion-nav-title> -->
    <ion-nav-buttons side="right">
      <a class="button button-icon icon ion-ios7-search" href="#/simple/search">
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="true">
    <ion-list>
      <ion-item>
        <div class="row no-padding">
          <div class="col text-center">
            <a class="button round-button icon ion-document-text" style="background: #F3893C" href="#/simple/activityList/pbhd001"></a>
            <p class="text-center-2"><b>评比活动</b></p>
          </div>

          <div class="col text-center">
            <a class="button round-button icon ion-ios7-compose" style="background: #FA6469"  href="#/simple/articleList/308">
            </a>
            <p class="text-center-2"><b>部门活动</b></p>
          </div>

          <div class="col text-center">
            <a class="button round-button icon ion-ios7-information" style="background: #46CECE"  href="#/simple/activityList/zbhd001">
            </a>
            <p class="text-center-2"><b>支部活动</b></p>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="row no-padding">
          <div class="col text-center">
            <a class="button round-button icon ion-chatbox-working" style="background: #93CE68"  href="#/simple/articleList/310">
            </a>
            <p class="text-center-2"><b>活动回顾</b></p>
          </div>
          
          <div class="col text-center">
            <a class="button round-button icon ion-ios7-heart" style="background: #93CE68"  href="#/simple/psychology">
            </a>
            <p class="text-center-2"><b>心理1解1</b></p>
          </div>

          <div class="col">
          </div>
          <!-- <div class="col text-center">
            <a class="button round-button icon ion-social-buffer" style="background: #C761AA"  href="#/simple/activityList/303">
            </a>
            <p class="text-center-2"><b>中介服务</b></p>
          </div>

          <div class="col text-center">
            <a class="button round-button icon ion-social-twitter" style="background: #DCBF82"  href="#/simple/activityList/306">
            </a>
            <p class="text-center-2"><b>大宗团购</b></p>
          </div> -->
        </div>
      </ion-item>    
    </ion-list>
  </ion-content>

</ion-view>