<ion-view view-title='智慧团青'>
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <!-- <ion-nav-back-button>
      </ion-nav-back-button> -->
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <!-- <ion-nav-title>
      智慧团青
    </ion-nav-title> -->
    <ion-nav-buttons side="right">
      <span class="two-buttons">
        <a class="button button-icon icon ion-ios7-search" href="#/simple/search">
        </a>
        <button class="button button-icon icon ion-ios7-plus-outline" publish-info="'参数'"><!-- publish-info="event='参数'" -->
        </button>
      </span>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!-- <ion-content class="has-footer"> -->
  <ion-content>
    <button class="button button-block button-clear button-offline" ng-if="refreshable" ng-click="refreshAgain()">
      {{refreshableTitle}}
    </button>
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" ng-if="items.length">
      <ion-slide>
        <div class="box">
          <a ng-href="#/simple/article/{{items[0][0]}}">
            <img ng-src="{{items[0][2] && 'http://17f.go5le.net/admin_manage/upload_tp1/' + items[0][2] || 'http://17f.go5le.net/99_tj/img/m1.png'}}" class="img-responsive center-block" img-cache>
          </a>
          <!-- <div elem-position></div> -->
          <!-- <div class="word-front center-block">
            <h3>建设美丽浙江 创造美好生活</h3>
            <h4>浙江省直机关“智慧团青”</h4>
          </div> -->
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <a ng-href="#/simple/article/{{items[1][0]}}">
            <img ng-src="{{items[1][2] && 'http://17f.go5le.net/admin_manage/upload_tp1/' + items[1][2] || 'http://17f.go5le.net/99_tj/img/m1.png'}}" class="img-responsive center-block" img-cache>
          </a>
          <!-- <div class="word-front center-block">
            <h3>建设美丽浙江 创造美好生活</h3>
            <h4>浙江省直机关“智慧团青”</h4>
          </div> -->
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <a ng-href="#/simple/article/{{items[2][0]}}">
            <img ng-src="{{items[2][2] && 'http://17f.go5le.net/admin_manage/upload_tp1/' + items[2][2] || 'http://17f.go5le.net/99_tj/img/m1.png'}}" class="img-responsive center-block" img-cache>
          </a>
          <!-- <div class="word-front center-block">
            <h3>建设美丽浙江 创造美好 生活</h3>
            <h4>浙江省直机关“智慧团青”APP</h4>
          </div> -->
        </div>
      </ion-slide>
    </ion-slide-box>

    <div class="row no-padding" ng-if="items.length">
      <div class="col text-center">
        <a class="button button-outline round-button-2 icon button-assertive ion-document-text"  href="#/simple/articleList/"></a>
        <p class="text-center-2"><b>资讯</b></p>
      </div>

      <div class="col text-center">
        <a class="button button-outline round-button-2 icon button-assertive ion-ios7-people" href="#/simple/activityList/">
        </a>
        <p class="text-center-2"><b>活动</b></p>
      </div>

      <div class="col text-center">
        <a class="button button-outline round-button-2 icon button-assertive ion-coffee" href="#/simple/serviceList/fw001">
        </a>
        <p class="text-center-2"><b>服务</b></p>
      </div>
    </div>

    <ion-refresher pulling-text="释放刷新..." refreshing-text="正在刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-thumbnail-left" 
        collection-repeat="item in items" 
        collection-item-height="100" 
        collection-item-width="'100%'" 
        ng-style="{width: '100%', height: '100px'}" 
        ng-href="#/simple/article/{{item[0]}}">
      <!-- <ion-item class="item-thumbnail-left" ng-repeat="item in items" ng-href="#/simple/article/{{item[0]}}"> -->
        <img ng-src="{{item[2] && 'http://17f.go5le.net/admin_manage/upload_tp1/' + item[2] || 'http://17f.go5le.net/99_tj/img/m2.png'}}" class="img-responsive center-block" img-cache="$index">
        <h2 sytle="width:100%">{{item[1]}}</h2>
        <p>浏览{{item[6]}}次<span class="p-right">{{item[3]}}</span></p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" on-infinite="loadMoreData()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>

  <ion-footer-bar class="bar-stable no-padding" ng-if="loadable">
    <button class="button button-block button-clear button-offline" ng-click="loadMore()">
      {{loadableTitle}}
    </button>
  </ion-footer-bar>
  <!-- <ng-include src="'templates/common/footer.html'"></ng-include> -->

</ion-view>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>