<ion-view view-title=''>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <!-- <ion-nav-title>
    </ion-nav-title> -->
  </ion-nav-bar>

  <ion-content scroll="true" overflow-scroll="true" class="iframe-wrapper">
    <iframe seamless name="activity" ng-src="{{activityUrl}}">
    </iframe>
  </ion-content> 
  
</ion-view>