<ion-view>
<!-- <ion-view view-title='活动超市'> -->

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <!-- <ion-nav-title>
      活动超市
    </ion-nav-title> -->
    <ion-nav-buttons side="right">
      <a class="button button-icon icon ion-ios7-search" href="#/simple/search">
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <button class="button button-block button-clear button-offline" ng-if="refreshable" ng-click="refreshAgain()">
      {{refreshableTitle}}
    </button>
    <ion-refresher pulling-text="释放刷新..." refreshing-text="正在刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-avatar" 
        collection-repeat="item in items" 
        collection-item-height="80" 
        collection-item-width="'100%'" 
        style="width:100%;height:80px" 
        ng-href="#/simple/activity/{{item[0] + '&no=' + item[7] + '&po=' + username}}" >
      <!-- <ion-item class="item-avatar" ng-repeat="item in items" ng-href="#/simple/activity/{{item[0] + '&no=' + item[7] + '&po=' + username}}"> -->
        <img ng-src="{{item[2] && 'http://17f.go5le.net/mall/' + item[2] || 'http://17f.go5le.net/99_tj/img/m2.png'}}" class="img-responsive center-block" img-cache>
        <h2><b>{{item[1]}}</b></h2>
        <p>浏览{{item[6]}}次<span class="p-right">{{item[3]}}</span></p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" on-infinite="loadMoreData()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>

  <ion-footer-bar class="bar-stable no-padding" ng-if="loadable">
    <button class="button button-block button-clear button-offline" ng-click="loadMore()">
      {{loadableTitle}}
    </button>
  </ion-footer-bar>
</ion-view>
