<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      问卷
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content scroll="true" overflow-scroll="true" class="iframe-wrapper">
    <iframe seamless name="questionnaire" ng-src="{{pUrl}}">
    </iframe>
  </ion-content> 
  
</ion-view>