<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      心理1解1
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <a class="button button-icon icon ion-ios7-search" href="#/simple/search">
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <ion-refresher pulling-text="释放刷新..." refreshing-text="正在刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="item in items" ng-href="#/simple/psychologyLink/{{item[0]}}">
        <h2><b>{{item[1]}}</b><span class="p-right">日期：{{item[2]}}</span></h2>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" on-infinite="loadMoreData()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  
</ion-view>
