/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
	display: block;
	margin: 15px auto;
	width: 96px;
	height: 96px;
}
.img-responsive,
.responsive-content img,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
}
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.word-front {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding-top: 1.25em;
	padding-bottom: 0.5em;
	/*color: #fff;*/
	text-align: center;
	text-shadow: 0 1px 2px rgba(255, 255, 255, .6);
}
@media screen and (min-width: 768px) {
  .word-front {
    right: 20%;
    left: 20%;
    padding-bottom: 1.875em;
  }
}
.word-front h3, .word-front h4 {
	font-family: "微软雅黑";
	font-weight: bold;
	color: rgb(255, 0, 102);
}
.word-front h4 {
	color: white;
	margin-bottom: 0;
}
.no-padding {
	padding: 0;
}
.no-padding-td {
	padding-top: 0;
	padding-bottom: 0;
}
.padding-lr {
	padding-left: 5px;
	padding-right: 5px;
}
.slider-pager {
	display: none;
}
.less-margin {
	margin: 5px;
}

.background-clear, .button.background-clear.active, .button.background-clear.activated {
	background-color: transparent;
	border-style: none;
	box-shadow: none; 
}
.position {
	position: relative;
	top: 0;
	left: 0;
}
.background-img {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -999;
}
.cell-img {
	background-color: transparent;
	max-width: 4em;
	padding: 0.5em 0 0 0;
}

.img-size .icon:before {
	margin-top: 0.3em;
	font-size: 2.5em;
	/*color: rgb(247, 216, 56);*/
}

.img-size-2{
	margin-top: 0.3em;
	font-size: 1.5em;
	/*color: rgb(247, 216, 56);*/
}

.text-lg {
	font-size: 135%;
}
.text-hg {
	font-size: 150%;
	min-width: 33%;
}
.take-position {
	color: transparent;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-center-2 {
	text-align: center;
	margin-top: 0.3em;

}
/*.iframe-wrapper {
	-webkit-overflow-scrolling: touch !important;
    overflow: scroll !important;
}*/

.iframe-wrapper iframe {
	padding: 0;
	/*padding-top: 1.5em;*/
	margin: 0;
	border: 0;
	width: 100%;
	height: 100%;
}

/*.has-header iframe {
	padding-top: 0;
}*/

/*a.center-block {
	color: rgb(190, 18, 18);
	font-weight: bold;
}
*/
a.center-block-1 {
	color: #fff;
	font-weight: bold;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border: 0;
	border-radius: 0.3em;
}

a.center-block-2 {
	color: #fff;
	font-weight: bold;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0.1em;
	border: 0;
	border-radius: 0.3em;
}

div.margin-top{
	margin-top: 4.0em;
}

.round-button
{
	border-radius: 50%;
	border:0;
	color: #fff;
}

.round-button-2
{
	border-radius: 50%;
	border: 1px solid #ef4e3a;
}
a.round-button.button, a.round-button-2.button {
	min-width: 47px;
}

.round-avatar
{
	width:5em;
	height:5em;
	border-radius: 50%;
	border:2px solid #dddddd;
	margin: 0.5em;
}

/*.button .img-size .icon {
	display: block;
	margin-top: 0.5em;
	font-size: 3em;
	color: rgb(247, 216, 56);
}*/

/*ionic.css源代码里面找.bar-header, ios平台有专门针对bar-header的css语句, 将bar-header下移了20px, 因此对没有has-header的ion-content统一下移20px*/
/*.platform-ios.platform-cordova:not(.fullscreen) ion-content.scroll-content:not(.has-header) {
  top: 20px; 
}*/



/*如果tabs之上还要放置banner等图片, 需要手动对tabs-top的绝对位置进行定位, 如下(已经用代码动态实现)*/
/*.tabs-top > .tabs {
	top: 244px;
}*/
/*.tabs-top > .pane > .scroll-content {
	top: 293px;
	bottom: 55px;
}*/
.ad-banner, .ad-banner .box {
	margin-top: 0;
/*	max-height: 200px;*/
	z-index: 99;
}

.tabs-striped.tabs-background-positive .tabs-secondary {
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	background-color: #fff;
	/*color: #444;*/
}
.tabs-striped.tabs-light .tabs-secondary .tab-item {
	color: #444;
	opacity: .7;
}

.tabs-top.tabs-striped .tabs-secondary .tab-item.activated, .tabs-top.tabs-striped .tabs-secondary .tab-item.active, .tabs-top.tabs-striped .tabs-secondary .tab-item.tab-item-active {
	opacity: 1;
}

/*
.chat{ border:#666666 1px solid; display:block; margin-left:5px; margin-right:5px; height:680px; padding:10px; overflow-y:scroll;}
.chat .username span{font-style:italic;}
.caht .messtext{font-size:20px; background-color:#CC66FF;margin-top:15px; height:30px; line-height:30px; display:block;}*/


/*Blow works, be aware of CLASS .icon-right*/
/*.bar .button.button-clear .icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before, .bar .button.button-clear.icon:before {
    font-size: 0.8em;
}*/
.bar .button.button-clear.icon-right:before {
    font-size: 0.8em;
    margin-right: 0.5em;
}
/*.bar .button.button-clear .icon:before {
    font-size: 0.8em;
    margin-right: 0.5em;
}*/

span.align-right {
    position: absolute;
    right: 0.5em;
    color: #999;
    font-size: 0.8em;
}

.description {
    line-height: 1.5em;
}

p .p-right,
h2 .p-right,
h3 .p-right {
    position: absolute;
    right: 1.0em;
}
/*
p.word-right {
    text-align: right;
}

.word-center{
    text-align: center;
}
*/
.article-div{
    margin: 1.0em;
}

.under-thumbnail{
    position: absolute;
    left: 1.8em;
    bottom: 0.8em;

}

.button.button-icon.input-button {
    position: absolute;
    right: 0;
    top: 5px;
    color: #bbb;
}

.box img.center-block {
    height: 180px;
    width: 100%;
}

.button.button-block.button-offline {
    min-height: 30px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #ddd;
}

/*thumb标题换行，右边padding缩小*/
.item h2, .item-content h2 {
    white-space: normal;
}
.item-complex .item-content {
    padding-left: 95px;
    padding-right: 3px;
}
/*avatar标题换行，右边padding缩小*/
.item-complex.item-avatar .item-content {
    padding-left: 70px;
}

/*针对android平台(.platform-android)，将右边按钮组的最小宽度设置为100px，否则在android 4.4.x原生浏览器上，header右边按钮组中放两个按钮就会换行显示*/
.platform-android .buttons-right .right-buttons .two-buttons { 
    min-width: 100px;
}